<div class="course-details">
    <mat-card>
        <mat-card-title>Admission</mat-card-title>
      <form #form="ngForm" (submit)="saveCourse(selectedCourse)">
        <mat-card-content>
          <mat-form-field>
            <input
              matInput
              placeholder="First-Name"
              type="text"
              name="firstName"
              required
              [(ngModel)]="selectedCourse.firstName"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Last-Name"
              type="text"
              name="lastName"
              required
              [(ngModel)]="selectedCourse.lastName"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Phone"
              type="number"
              name="phone"
              [(ngModel)]="selectedCourse.phone"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Email"
              type="text"
              name="email"
              [(ngModel)]="selectedCourse.email"
            />
          </mat-form-field>
          <section></section>
        </mat-card-content>
        <mat-form-field>
            <input
              matInput
              placeholder="Admission-Date"
              type="date"
              name="admissionDate"
              required
              [(ngModel)]="selectedCourse.admissionDate"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Paid"
              type="text"
              name="paid"
              required
              [(ngModel)]="selectedCourse.paid"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Unpaid"
              type="text"
              name="unpaid"
              required
              [(ngModel)]="selectedCourse.unpaid"
            />
          </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button
          [disabled] = "form.invalid"
            type="submit"
            mat-button
            color="primary">
            Submit
          </button>
          <button mat-raised-button type="button" mat-button (click) = cancel() >Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
 
 
  