<mat-toolbar color="primary">
    <span routerLink="" routerLinkActive="active"  style="font-family: 'Festive', cursive;"><mat-icon>eco</mat-icon>Tutorial</span>
    <div class="spacer"></div>
    <a mat-button routerLink="registration" routerLinkActive="active" style="font-family: 'Festive', cursive;  font-size:20px">Registration</a>
    <a mat-button routerLink="" routerLinkActive="active"  style="font-family: 'Festive', cursive;  font-size:20px" >list</a>  
  </mat-toolbar>
<router-outlet></router-outlet>
<!-- <a routerLink="" routerLinkActive="active">Home</a> -->